#works{
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.worksTitle{
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  color: yellow;
  text-decoration: underline;
}
.worksDesc{
  font-weight: 400;
  font-size: 1.5rem;
  max-width: 50rem;
  padding: 0 2rem;
}
.worksBars{
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.workBar{
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}
.workBarImg{
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}
.workBarText h2{
  color: rgb(230, 248, 96);
}
.workBarText p{
  font-weight: 200;
}
@media screen and (max-width:720px) {
  .workBarText>p{
    font-size: 2vw;
  }
}
@media screen and (max-width:480px) {
  .workBarText>p{
    font-size: 3vw;
  }
  .workBarImg{
    height: 2.25rem;
    width: 2.25rem;
  }
  .workBarText>h2{
    font-size: 5vw;

  }
  #works{
    margin-left: auto;
  }
}
.new{
  color: yellow;
}
